#chat-friendlist {
    width: 25%;
    height: 100vh;
    overflow: hidden;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 23%;
        height: 15vh;
        padding-bottom: 1.7rem;
        padding-top: 1.4rem;
        padding-left: 2%;
        padding-right: 2%;
        position: fixed;
        z-index: 500;
        background-color: $primary;

        .header-logo {
            img {
                width: 107px;
                object-fit: contain;
            }
        }

        .profile {
            position: relative;
            top: 5px;

            img {
                width: 37px;
                height: 37px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .section-list {
        margin-top: 6rem;
        height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        gap: 19px;
        display: flex;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        height: max-content;
        padding-bottom: 1.4rem;
        padding-top: 1.4rem;

        #vide {
            color: #fff;
            text-align: center;
        }


        .friend-card {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 35px;
            margin-bottom: 20px;

            .profile-pictures {
                width: 50px;

                img {
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .user-info {
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto;

                .username {

                    h5 {
                        color: #fff;
                        font-size: 18.3px;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                }

                .add-btn {
                    margin-top: 14px;

                    .btn {
                        border: 0;
                        color: #fff;
                        font-weight: 600;
                        padding: 4px 36px;
                    }

                    #btn-1 {
                        background-color: $secondary;
                    }

                    #btn-2 {
                        background-image: linear-gradient(100deg, rgb(50, 50, 236), rgb(228, 75, 228));
                    }
                }
            }
        }
    }

    .section-footer {
        width: 100%;
        height: 15vh;
        padding: 27px 10%;

        .btn {
            width: 100%;
            border: 0;
            color: #fff;
            width: 100%;
            background-image: linear-gradient(100deg, rgb(50, 50, 236), rgb(228, 75, 228));
        }
    }
}