#chat-list {
    width: 25%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $primary;

    .section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 23%;
        height: max-content;
        padding-bottom: 3rem;
        padding-top: 1.4rem;
        padding-left: 2%;
        padding-right: 2%;
        position: fixed;
        z-index: 500;
        background-color: $primary;

        .header-logo {
            img {
                width: 107px;
                object-fit: contain;
            }
        }

        .profile {
            position: relative;
            top: 5px;

            img {
                width: 37px;
                height: 37px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .section-list {
        margin-top: 7rem;
        gap: 32px;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 3%;
        height: max-content;
        padding-bottom: 2rem;
    }
}