#chat-content {
    width: 75%;
    position: relative;
    height: 100vh;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-header {
        position: relative;
        z-index: 400;
        width: 100%;
        height: 5.3rem;
        background-color: $primary;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        padding: 5px 3.6%;

        .user-info {
            display: flex;
            gap: 12px;
            align-items: center;
            overflow: hidden;

            .profile-picture {
                width: 70px;

                img {
                    width: 57px;
                    height: 57px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .profile-content {

                .username {

                    h5 {
                        color: #fff;
                        font-weight: 600;
                        font-size: 19.7px;
                        margin-bottom: 0;
                    }
                }

                .status {
                    margin-top: 2px;

                    p {
                        color: green;
                        margin-bottom: 0;
                        font-size: 16px;
                    }
                }
            }
        }

        .options {
            margin: auto 0;

            img {
                width: 30px;
                object-fit: contain;
                cursor: pointer;
            }
        }
    }

    .section-messages {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        height: max-content;
        overflow: auto;
        position: relative;
        top: calc(-1rem - 1.8vh);

        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 77px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: grey;
        }

        &::-webkit-scrollbar-track {
            background-color: $secondary;
        }

        .chat-1 {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 17px;

            .content {
                max-width: 70%;
                display: flex;
                gap: 13px;

                .profile-picture {
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    bottom: 15px;

                    img {
                        width: 36px;
                        height: 36px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                p {
                    color: #fff;
                    background-color: rgb(61, 59, 59);
                    padding: 17px;
                    border-radius: 18px;
                }
            }
        }

        .chat-2 {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 17px;

            .content {
                max-width: 70%;
                display: flex;
                gap: 13px;

                .profile-picture {
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    bottom: 15px;

                    img {
                        width: 36px;
                        height: 36px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                p {
                    color: #fff;
                    background-color: rgb(56, 56, 219);
                    padding: 17px;
                    border-radius: 18px;
                }
            }
        }
    }

    .section-send {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        height: 12vh;
        align-items: flex-end;

        form {
            display: flex;
            width: 100%;
            height: 4.7rem;
            background-color: $primary;
            border-radius: 7px;
            align-items: center;
            justify-content: flex-start;
            gap: 22px;
            padding-left: 6%;
            padding-right: 6%;


            .input {
                width: 100%;

                input {
                    width: 100%;
                    border-radius: 25px;
                    height: 2.8rem;
                    border: 0;
                    background-color: $secondary;
                    padding: 7px 26px;
                    color: #fff;

                    &:focus {
                        outline: 0;
                        background-color: $secondary;
                    }
                }
            }

            .button {

                #icon {
                    color: rgb(56, 56, 219);
                    font-size: 24px;
                }
            }
        }
    }

}