.discussion {
    width: 100%;
    height: max-content;
    // background-color: $secondary;
    border-radius: 7px;
    padding: 7px 6%;
    display: flex;
    gap: 17px;


    &:hover {
        background-color: $secondary;
        cursor: pointer;
    }

    .user-pictures {
        width: 50px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .user-info {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

        .name {

            h5 {
                color: #fff;
                font-size: 17.6px;
                font-weight: 600;
                margin-bottom: 0;
            }
        }

        .message {
            margin-top: 6px;

            p {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: #fff;
                margin-bottom: 0;
                font-size: 15px;
            }
        }
    }
}