.section-header {
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 105px;
            object-fit: cover;

            @include screen(small){
                width: 82px;
            }
        }

    }

    .title {
        margin-top: 1rem;

        h3 {
            color: #fff;
            font-weight: 700;
            font-size: 26px;
            text-shadow: 0 0 5px rgba(65, 64, 64, 0.5);

            @include screen(small){
                font-size: 23px;
            }
        }
    }
}