#login {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(100deg, rgb(33, 33, 207), rgb(223, 101, 223));
    display: flex;
    align-items: center;

    &__container {
        margin: auto;
        width: max-content;
        height: max-content;
        background-color: rgba(238, 130, 238, 0.199);
        border-radius: 11px;
        box-shadow: 0 0 10px rgba(53, 52, 52, 0.219);
        padding: 49px;

        .section-header {
            .logo {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    width: 105px;
                    object-fit: cover;
                }

            }

            .title {
                margin-top: 1rem;

                h3 {
                    color: #fff;
                    font-weight: 700;
                    font-size: 26px;
                    text-shadow: 0 0 5px rgba(65, 64, 64, 0.5);
                }
            }
        }

        .section-form {
            margin: auto;

            .form {
                input {
                    border-bottom: 2px solid #fff;
                    width: 100%;
                    background-color: transparent;
                    border-right: 0;
                    border-left: 0;
                    border-top: 0;
                    color: #fff;
                    padding-bottom: 7px;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: #fff;
                    }
                }

                .password {
                    margin-top: 2.6rem;
                }

                .button {
                    margin-top: 3rem;
                    width: 100%;

                    .btn {
                        background-image: linear-gradient(100deg, rgb(70, 70, 247), rgb(223, 101, 223));
                        border: 0;
                        width: 100%;
                        padding-top: 9px;
                        padding-bottom: 9px;
                        border-radius: 20px;
                        color: #fff;
                        font-weight: bold;
                        box-shadow: 0 0 8px rgba(39, 39, 39, 0.199);
                    }
                }
            }

            .or {
                margin-top: 45px;

                p {
                    color: #fff;
                    font-weight: 600;
                    text-align: center;

                    &::before {
                        content: "";
                        width: 77px;
                        margin-top: 9px;
                        margin-left: -87px;
                        height: 2px;
                        background-color: #fff;
                        position: absolute;
                    }

                    &::after {
                        content: "";
                        width: 77px;
                        margin-top: 9px;
                        margin-left: 10px;
                        height: 2px;
                        background-color: #fff;
                        position: absolute;
                    }
                }
            }

            .auth-google{
                width: 100%;
                margin-top: 39px;

                 .btn{
                    width: 100%;
                    white-space: nowrap;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    font-weight: 500;
                    background-color: #fff;
                    border-radius: 20px;
                 }
            }
        }
    }
}